<mat-card-content style="direction: rtl; text-align: center;margin-top: 3%;" class="Details">
    <form (ngSubmit)="testDate()">

        <mat-form-field>
            <mat-select [(ngModel)]="currentProgram.iProgramType" required placeholder="סוג תוכנית" name="iProgramType">
                <mat-option *ngFor="let s of lProgramTypeValue.keys()" [value]="s">{{this.lProgramTypeValue.get(s)}}
                </mat-option>
            </mat-select>
            <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>שם תוכנית</mat-label>
            <input matInput type="text" [(ngModel)]="currentProgram.nvProgramName" name="nvProgramName" required />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <!-- <mat-form-field>
            <mat-select [(ngModel)]="currentProgram.lProgramAgegroups" required placeholder="קטגורית גילאים" name="lProgramAgegroups">
                <mat-option *ngFor="let s of lProgramAgegroupsValue.keys()" [value]="s">{{this.lProgramAgegroupsValue[s]}}</mat-option>
            </mat-select> -->


        <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->
        <!-- </mat-form-field><br> -->

        <mat-accordion style="text-align:center;">
            <mat-expansion-panel class="text-center col-lg-3 col-lg-offset-4" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        נבחרו: {{shoes.selectedOptions.selected.length}}
                    </mat-panel-description>
                    <mat-panel-title>
                        קטגורית גילאים
                        <!-- <button mat-icon-button color="warn" aria-label="Example icon button with a home icon"
                            (click)="cancelAll()">
                            <mat-icon>cancel</mat-icon>
                        </button> -->
                        <!-- <button mat-icon-button color="warn" (click)="selectAll()">
                            <mat-icon>check</mat-icon>
                        </button> -->
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-selection-list #shoes [(ngModel)]="currentProgram.lProgramAgegroups" required placeholder="קטגורית גילאים"
                    name="lProgramAgegroups">
                    <div *ngFor="let s of lProgramAgegroupsValue.keys()">

                        <div *ngIf="isSelected(s)">
                            <div *ngIf="selected">
                                <mat-list-option selected [value]="s">
                                    {{this.lProgramAgegroupsValue.get(s)}}
                                </mat-list-option>
                            </div>
                            <div *ngIf="!selected">
                                <mat-list-option [value]="s">
                                    {{this.lProgramAgegroupsValue.get(s)}}
                                </mat-list-option>
                            </div>


                        </div>
                        <!-- <div *ngIf="isSelected(s)==false">
                        <mat-list-option [value]="s">
                            {{this.lProgramAgegroupsValue.get(s)}}
                        </mat-list-option>
                    </div> -->


                    </div>

                </mat-selection-list>
            </mat-expansion-panel>
        </mat-accordion>

        <div  style="width: 30%;text-align: center; margin-left: 30%;">
            <ng-multiselect-dropdown name="lProgramAgegroups"
            [settings]="dropdownProgramAgegroups"
            [data]="ProgramAgegroupsList"
            [(ngModel)]="ProgramAgegroupsListNg" 
            [placeholder]="'קטגורית גילאים'"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="OnItemDeSelect($event)"
          >
          </ng-multiselect-dropdown>
          </div> 

        <mat-form-field class="example-form-field">
            <mat-label>סעיף תקציבי</mat-label>
            <input matInput type="text" [(ngModel)]="currentProgram.nvBudgetItem" name="nvBudgetItem" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>מתאריך</mat-label>
            <input matInput type="date" [(ngModel)]="currentProgram.dFromDate" name="dFromDate" />
            <p style="color: red;">יש להזין תאריך עתידי</p>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>עד תאריך</mat-label>
            <input matInput type="date" [(ngModel)]="currentProgram.dToDate" name="dToDate" />
            <p style="color: red;">יש להזין תאריך הגדול מתאריך ההתחלה</p>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>מספר הפעלות בוקר</mat-label>
            <input matInput type="number" required [(ngModel)]="currentProgram.iNumActivityMorning"
                name="iNumActivityMorning" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>מספר הפעלות צהריים</mat-label>
            <input matInput type="number" required [(ngModel)]="currentProgram.iNumActivityAfternoon"
                name="iNumActivityAfternoon" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>מספר הפעלות מועדפות</mat-label>
            <input matInput type="number" required [(ngModel)]="currentProgram.iActivityPreferenceCount"
                name="iActivityPreferenceCount" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>מספר הפעלות מועדפות לשבוע</mat-label>
            <input matInput type="number" required [(ngModel)]="currentProgram.iActivityPreferenceInWeekCount"
                name="iActivityPreferenceInWeekCount" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>בוקר - משעה</mat-label>
            <input matInput type="time" [(ngModel)]="currentProgram.tFromTimeMorning" name="tFromTimeMorning" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>בוקר - עד שעה</mat-label>
            <input matInput type="text" [(ngModel)]="currentProgram.tToTimeMorning" name="tToTimeMorning" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>צהריים - משעה</mat-label>
            <input matInput type="text" [(ngModel)]="currentProgram.tFromTimeAfternoon" name="tFromTimeAfternoon" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>צהריים - עד שעה</mat-label>
            <input matInput type="text" [(ngModel)]="currentProgram.tToTimeAfternoon" name="tToTimeAfternoon" />
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>


        <input type="checkbox" [(ngModel)]="currentProgram.bTwoActivitiesThatDay" name="bTwoActivitiesThatDay" />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
        <mat-label>האם לאפשר מספר פעילויות ליום</mat-label>
        <br>
        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>save</mat-icon>
        </button>
    </form>
</mat-card-content>