<div style=" text-align: center;margin-top: 3%;" class="Details">
    <form>
        <section class="example-section">
            <label class="example-margin">סוג:</label>
            <mat-radio-group [(ngModel)]="operator.iOperatorType" name="OperatorType">
                <mat-radio-button class="example-margin" value="5" [checked]="operator.iOperatorType==5">פרטי
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="6" [checked]="operator.iOperatorType==6">חברה
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="7" [checked]="operator.iOperatorType==7">שכיר
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <br>
        <mat-form-field class="example-form-field">
            <mat-label>שם מפעיל</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvOperatorName" name="OperatorName">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>שם חברה</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvCompanyName" name="CompanyName">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>ת.ז</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvIdentity" name="Identity">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>שם איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPerson" name="ContactPerson">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>טלפון איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPersonPhone" name="ContactPersonPhone">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label> מייל איש קשר</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvContactPersonMail" name="ContactPersonMail">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>מספר מדריכים</mat-label>
            <input matInput type="text" [(ngModel)]="operator.iNumLeaders" name="NumLeaders">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>הגבלת מספר חוגים ביום</mat-label>
            <input matInput type="number" [(ngModel)]="operator.iNumOperationsDay" name="NumOperationsDay">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>הגבלת מספר חוגים בשבוע</mat-label>
            <input matInput type="number" [(ngModel)]="operator.iNumOperationsWeek" name="NumActivityWeek">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>


        <mat-form-field appearance="fill">
            <mat-label>תנאי תשלום</mat-label>
            <select [(value)]="operator.iOperatorPaymentType" matNativeControl required>
                <option value="1">שוטף+30</option>
                <option value="2">שוטף+60</option>
                <option value="3">מזומן</option>
            </select>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>מספר ספק</mat-label>
            <input matInput type="text" [(ngModel)]="operator.nvIdentity" name="Identity">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <mat-form-field class="example-form-field">
            <mat-label>מספר הנהלת חשבונות</mat-label>
            <input matInput type="text" [(ngModel)]="operator.iNumBookkeeping" name="NumBookkeeping">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>

        <section style="direction: rtl;" class="example-section">
            <mat-checkbox [checked]="operator.bInProgramPool" class="example-margin">קיים במאגר התוכניות</mat-checkbox>
        </section>
        <section style="direction: rtl;" class="example-section">
            <mat-checkbox [(ngModel)]="operator.bTalan" [checked]="operator.bTalan" name="TalanCheckbox"
                class="example-margin">מפעיל בחוגי תל"ן</mat-checkbox>
        </section>

        <mat-form-field appearance="fill">
            <mat-label>חוגי תל"ן</mat-label>
            <mat-select [formControl]="schools"  multiple [disabled]="!operator.bTalan">
                <mat-select-trigger>
                    {{schools.value ? schools.value[0] : ''}}
                    <span *ngIf="schools.value?.length > 1" class="example-additional-selection">
                        (+{{schools.value.length - 1}} {{schools.value?.length === 2 ? 'other' : 'others'}})
                      </span>
                </mat-select-trigger>
                <mat-option *ngFor="let school of operator.lSchools" [value]="school">{{school}}</mat-option>
            </mat-select>
        </mat-form-field> 

        <section style="direction: rtl;" class="example-section">
            <mat-checkbox [checked]="operator.lNeighborhoods.length>0?true:false" class="example-margin">פעיל באזורים מסוימים</mat-checkbox>
        </section>

        <mat-form-field appearance="fill">
            <mat-label>איזורים</mat-label>
            <mat-select [formControl]="neighborhoods" name="neighborhoods" multiple [disabled]="!operator.lNeighborhoods.length>0?true:false">
                <mat-select-trigger>
                    {{neighborhoods.value ? neighborhoods.value[0] : ''}}
                    <span *ngIf="operator.lNeighborhoods.value?.length > 1" class="example-additional-selection">
                        (+{{neighborhoods.value.length - 1}} {{neighborhoods.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let Neighborhood of operator.lNeighborhoods" [value]="Neighborhood">{{Neighborhood}}</mat-option>
            </mat-select>
        </mat-form-field> 
        <input type="button" value="save" (click)="save()">

    </form>
</div>