.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  ng-multiselect-dropdown /deep/ .multiselect-dropdown > .dropdown-btn{
    font-size:12px !important;
 }
.saveIconBtn{
  color: rgb(192, 31, 31);
    position: sticky;
    position: -webkit-sticky;
    height: 100px;
    top: 20px;

    float: left;
    margin-left: 30px;
}
.a section,a{
   display: inline-block;
   padding: 10px;

 }
 a{
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;

 }
 .b section,a{
  display: inline-block;
  padding: 10px;

}
.c section,a{
  display: inline-block;
  padding: 10px;

}
.d section,a{
  display: inline-block;
  padding: 10px;

}

.example-section{
  padding-top: 40px;

}
mat-icon{
  font-size: 40px;
  text-shadow: 10px 10px 20px #ffffff;
}
section{
  width: 50%;
    margin: auto;
}

form {
      width: 60%;
      height: 620px;
      margin: auto;
      text-align: center;
      direction: rtl; 
     background-color: #ffffffcf;
     overflow-y: scroll;
}
mat-label{
  color: black;
  font-size: 20px;
}
mat-form-field{
  padding-bottom: 20px;
}
.form-group{
  width: 100%;

}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #c01f1f;
}



#SettingslsExclude, #Neighborhoods, #TalanSchool
{
  width: 50%; margin: auto; padding: 10px; 
}
