<p>settings works!</p>
<div class="mat-elevation-z8" style="text-align:right;" dir="rtl">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- SettingId Column -->
        <ng-container matColumnDef="iSettingId">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> מזהה מסגרת </th>
            <td mat-cell *matCellDef="let row"> {{row.iSettingId}} </td>
        </ng-container>

        <!-- SettingName Column -->
        <ng-container matColumnDef="nvSettingName">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> שם מסגרת </th>
            <td mat-cell *matCellDef="let row"> {{row.nvSettingName}} </td>
        </ng-container>


        <!-- SettingCode Column -->
        <ng-container matColumnDef="nvSettingCode">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>סמל מוסד</th>
            <td mat-cell *matCellDef="let row"> {{row.nvSettingCode}}</td>
        </ng-container>

        <!-- SettingTypeValue Column -->
        <ng-container matColumnDef="nvSettingTypeValue">
            <th style="width: 1%;" mat-header-cell *matHeaderCellDef mat-sort-header>סוג</th>
            <td mat-cell *matCellDef="let row"> {{row.nvSettingTypeValue}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="nvAddress">
            <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header>כתובת</th>
            <td mat-cell *matCellDef="let row"> {{row.nvAddress}} </td>
        </ng-container>


        <!-- Phone  Column -->
        <ng-container matColumnDef="nvPhone">
            <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header> טלפון </th>
            <td mat-cell *matCellDef="let row"> {{row.nvPhone}} </td>
        </ng-container>

        <!-- ContactPerson  Column -->
        <ng-container matColumnDef="nvContactPerson">
            <th style="width: 1%;" mat-header-cell *matHeaderCellDef mat-sort-header> שם איש קשר </th>
            <td mat-cell *matCellDef="let row"> {{row.nvContactPerson}} </td>
        </ng-container>

        <!-- ContactPersonMail  Column -->
        <ng-container matColumnDef="nvContactPersonMail">
            <th style="width: 1%;" mat-header-cell *matHeaderCellDef mat-sort-header> מייל איש קשר </th>
            <td mat-cell *matCellDef="let row"> {{row.nvContactPersonMail}} </td>
        </ng-container>

        <!-- ContactPersonPhone  Column -->
        <ng-container matColumnDef="nvContactPersonPhone">
            <th style="width: 1%;" mat-header-cell *matHeaderCellDef mat-sort-header>טלפון איש קשר </th>
            <td mat-cell *matCellDef="let row"> {{row.nvContactPersonPhone}} </td>
        </ng-container>

        <!-- SettingAgegroupsValue  Column -->
        <ng-container matColumnDef="lSettingAgegroupsValue">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>קטגוריות גילאים </th>
            <td mat-cell *matCellDef="let row"> {{row.lSettingAgegroupsValue}} </td>
        </ng-container>

        <!-- FullName  Column -->
        <ng-container matColumnDef="nvFullName">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header>רכזת </th>
            <td mat-cell *matCellDef="let row"> {{row.nvFullName}} </td>
        </ng-container>

        <!-- Mail  Column -->
        <ng-container matColumnDef="nvMail">
            <th style="width: 5%;" mat-header-cell *matHeaderCellDef mat-sort-header> מייל רכזת </th>
            <td mat-cell *matCellDef="let row"> {{row.nvMail}} </td>
        </ng-container>

        <!-- PhoneCoordinator  Column -->
        <ng-container matColumnDef="nvPhoneCoordinator">
            <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header>טלפון רכזת </th>
            <td mat-cell *matCellDef="let row"> {{row.nvPhoneCoordinator}} </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="edit">
            <th style="width:5%;" mat-header-cell *matHeaderCellDef>עריכה </th>
            <td mat-cell *matCellDef="let element">
                <!-- (click)="redirectToDelete(element.id)" -->
                <button mat-icon-button color="warn" (click)="DetailsUser(element)">
                    <mat-icon class="mat-18">edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <!-- Choose Column -->
        <!-- <ng-container matColumnDef="choose">
            <th style="width:4%;" mat-header-cell *matHeaderCellDef> בחירה </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox">
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>