<div class="form-container" style="text-align:center;" dir="rtl">
    <div>
        <img style="margin-bottom:2% ;" height="120px" width="190px" src="assets/Images/logo-JPG.jpg">
    </div>
    <mat-card-content>

        <form [formGroup]="formLogin" (ngSubmit)="Login()">

            <div class="container text-center col-lg-4 col-lg-offset-4 col-md-3 col-sm-4" *ngIf="enterByUserName==true">
                <div class="form-group">
                    <input type="text" formControlName="nvUserName" class="form-control" name="nvUserName" placeholder="*שם משתמש"
                        required />
                </div>
                <div class="form-group">
                    <input type="password" formControlName="nvPassword" class="form-control" name="nvPassword"
                        placeholder="*סיסמא" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="כניסה" class="btn btn-info btn-lg btn-block btn-login "
                        [disabled]="!formLogin.valid">
                </div>
                <div class="form-group">
                    <button (click)="resetUser()" class="password-button">שכחתי סיסמא</button>
                </div>
            </div>

            <div class="container text-center col-lg-4 col-lg-offset-4 col-md-3 col-sm-4"
                *ngIf="enterByUserName==false">

                <div class="form-group">
                    <input type="email" class="form-control" formControlName="nvMail" name="nvMail"
                        placeholder="*הזן כתובת מייל לשחזור סיסמא" required />
                </div>
                <div class="form-group">
                    <button (click)="sentMailToResetPassword()" [disabled]="!userMail.valid"
                        class="btn  btn-info btn-lg btn-block btn-login">אישור</button>
                </div>
                <div class="form-group">
                    <a (click)="resetUser()" style="color:red">כניסה באמצעות שם משתמש וסיסמא</a>

                </div>
                <div class="spinner-border text-primary" role="status" *ngIf="enterByUserName==false">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </mat-card-content>

</div>

