<div >

<div class="form-container" style="text-align:center;" dir="rtl">
    <div>
        <img style="margin-bottom:2% ;" height="120px" width="190px" src="assets/Images/logo-JPG.jpg">
    </div>
    <mat-card-content>

        <form [formGroup]="formLogin" (ngSubmit)="Login()">

            <div class="container text-center col-lg-4 col-lg-offset-4 col-md-3 col-sm-4" *ngIf="enterByUserName==true">

                <mat-form-field appearance="standard">
                    <mat-label>שם משתמש</mat-label>
                    <input matInput type="text" formControlName="nvUserName" class="form-control" name="nvUserName"
                        placeholder="שם משתמש" required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>סיסמא</mat-label>
                    <input matInput type="password" class="form-control" formControlName="nvPassword" name="nvPassword"
                        placeholder="סיסמא" required [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                </mat-form-field>

                <div class="form-group">
                    <input type="submit" value="כניסה" class="btn btn-info btn-lg btn-block btn-login "
                        [disabled]="!formLogin.valid">
                </div>
                <div class="form-group">
                    <button (click)="resetUser()" class="password-button">שכחתי סיסמא</button>
                </div>
            </div>

            <div class="container text-center col-lg-4 col-lg-offset-4 col-md-3 col-sm-4"
                *ngIf="enterByUserName==false">

                <div class="form-group">
                    <input type="email" class="form-control" formControlName="nvMail" name="nvMail"
                        placeholder="*הזן כתובת מייל לשחזור סיסמא" required />
                    <mat-icon matSuffix mat-icon-button>mail</mat-icon>
                </div>
                
                <div class="form-group">
                    <button (click)="sentMailToResetPassword(nvMail.value)" [disabled]="!nvMail.valid"
                        class="btn  btn-info btn-lg btn-block btn-login">אישור</button>
                </div>
                <div class="form-group">
                    <a (click)="resetUser()" style="color:red">כניסה באמצעות שם משתמש וסיסמא</a>

                </div>
                <div class="spinner-border text-primary" role="status" *ngIf="enterByUserName==false">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </mat-card-content>

</div>
<!--
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FJerusalem&amp;src=eWFlbDk3NDI0MDJAZ21haWwuY29t&amp;src=aXcuamV3aXNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043"
 style="border:solid 1px #777" 
 width="800" 
 height="600" 
 frameborder="0" 
 scrolling="no">
</iframe>
<br>

<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MjBuN2FpMzFmYzA4dHA5ZmF1aDg4YXJhdXMgeWFlbDk3NDI0MDJAbQ&amp;tmsrc=yael9742402%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_iw.gif"></a>
-->
