<mat-card-content>

    <form [formGroup]="formSetting" (ngSubmit)="saveChange()">
        <mat-form-field class="example-form-field">
            <mat-label>שם מסגרת</mat-label>
            <input matInput type="text" formControlName="nvSettingName" name="nvSettingName" required />
            <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>טלפון</mat-label>
            <input matInput type="text" formControlName="nvPhone" name="nvPhone" required />
            <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field><br>
        <mat-form-field class="example-form-field">
            <mat-label>כתובת</mat-label>
            <input matInput type="text" formControlName="nvAddress" name="nvAddress" required />
            <!-- <button
                mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-form-field><br>
        <button [disabled]="!formSetting.valid" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>save</mat-icon>
          </button>
    </form>
</mat-card-content>