
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
/* 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.mat-sort-header{
  display: inline;
}
input.matInput{
  direction: rtl;
} */



p {
  font-family: Lato;
}

table {
  width: 100%;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
}