<div class="container" dir="rtl">
    <div class="col-lg-12">
        <a href="/" class="col-lg-offset-2">
            <img style="text-align:center" height="90px" width="150px" src="assets/Images/logo-JPG.jpg">
        </a>
        <button class="button operatorBtn" mat-button value="operator" (click)="operator()">מפעילים</button>
        <button class="button settingBtn" mat-button value="setting" (click)="setting()">מסגרות </button>
        <button class="button programBtn" mat-button value="program" (click)="program()">תוכניות</button>
        <button class="button managementBtn" mat-button value="management" (click)="management()">ניהול</button>
        <a href="/">התנתק</a>
    </div>
    <p>שלום {{currentUser.nvUserName}}</p>
</div>

<hr>

<div *ngIf="showWelcome" style=" text-align:center;padding-top: 100px;">
    <h1>ברוכה הבאה <br>
        למנהלי עמותת סחלבים</h1>
</div>
<router-outlet></router-outlet>