
body{
    /* overflow: auto; */
 
/* Location of the image */
  background-image: url(src\Images\image.jpeg);  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  /* background-repeat: no-repeat; */
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  /* background-size: cover;

*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-repeat:repeat;

    }


a{
    text-decoration: none;
    padding-left: 9%;
    outline: none;

}


.middle{  
    
    margin-top: 60px;

    /* padding-top: 5%; */


}
.middle a{
    font-size: 20px;
}

.container-fluid{
    background-color:white;
    height: 16%;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);

}

.img{
margin-top: 1.5%;
}
img{
    float: right;
}
p{
    text-align: center;
    padding-top: 9%;
    font-size: 130%;
}
