
.button{
    width:110px;
    margin-left: 50px;
}
.settingBtn{
    background-color:rgb(47, 50, 150);
}

.managementBtn {
    background-color:rgb(57, 120, 110);

}
.operatorBtn{
    background-color:rgb(236, 116, 19);

}

.programBtn{
background-color: rgb(98, 169, 29);
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

a{
    text-decoration: none;

}
.activeLink{
    border: solid;
    border-color: lightslategrey;
}
>>>>>>> parent of e8819d2... Merge pull request #45 from Yael-Noyzath/noyzath
=======
>>>>>>> parent of a190a81... edit header menu links
